<!DOCTYPE html>
<html>
<head>
	<title>Votability</title>
	<link rel="stylesheet" type="text/css" href="/static/community_style.css" />
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
<body>
	<div class="main">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Navigation</a></li>
			<li><a href="#">Parties</a></li>
			<li><a href="#">Finance</a></li>
			<li><a href="#">Local Elections</a></li>
			<li class="active"><a href="#">Community</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Signup</a></li>
			<li><a href="#">Login</a></li>
		</ul>
	</div>
	</div>
	<div class="title">
		<h1>Votability</h1>
	</div>
	<div class="start">
		<br><br>
		<center>
		<h1>Community </h1>
		<form method="POST" action="#">
			<input type="text" name="location" placeholder="Ask about voting" size="45" style="height:30px">
			<input type="submit" value="Ask">
		</form>
		</center>
	</div>
<header>
</body>
</html>