<!DOCTYPE html>
<html>
<head>
	<title>Votability</title>
	<link rel="stylesheet" type="text/css" href="/static/finance_style.css"/>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
<body>
	<div class="main">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/navigation">Navigation</a></li>
			<li><a href="/candidates">Candidates</a></li>
            <li><a href="/parties">Parties</a></li>
            <li class="active"><a href="/finance">Finance</a></li>
            <li><a href="/local">Local Elections</a></li>
            <li><a href="/community">Community</a></li>
			<li><a href="/polling">Polling</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/signup">Signup</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
	</div>
	</div>
	<div class="title">
		<h1>Votability</h1>
	</div>
	<div class="start">
		<br><br>
		<center>
		<h1>Presidential Election Financial Funding </h1>
		<table cellpadding="10">
		<tr><th>Trump's Top 10 Contributors</th><th>Biden's Top 10 Contributors</th></tr>
		<tr><td><img src="trump.png" height="350px" width="600px"></td><td><img src="biden.png" height="350px" width="600px"></td></tr>
		</table>
		Source: opensecrets.org

		<br><br>
		<a href="https://www.gofundme.com/team-fundraising" class="myButton">Start a team go fund me for your Cause</a><br><br>
		</center>
	</div>
<header>
</body>
</html>