<!DOCTYPE html>
<html>
<head>
	<title>Parties</title>
	<link rel="stylesheet" type="text/css" href="/static/parties_styles.css" />
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
#parallax {
  background-image: url("http://2.bp.blogspot.com/-ftrvBNictT0/UE7fdJ7_a1I/AAAAAAAAC5s/WENAiGH2adE/s1600/USA+flag+by+maceme+wallpaper.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#p2{
 
  background-image: url("https://www.newshub.co.nz/home/world/2020/10/have-your-say-did-donald-trump-or-joe-biden-win-the-final-us-presidential-debate/_jcr_content/par/image.dynimg.1280.q75.jpg/v1603425728726/GETTY_TRUMP_BIDEN_DEBATE_FINAL_1120.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#p3{
 
  background-image: url("https://miro.medium.com/max/2880/1*DXCqRYVLexHNVIUCvak-pQ.jpeg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>
<header>
	<div class="main">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/navigation">Navigation</a></li>
			<li><a href="/candidates">Candidates</a></li>
			<li class="active"><a href="/parties">Parties</a></li>
			<li><a href="/polling">Polling</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/signup">Signup</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
	</div>
	<div class="title">
		<h1>Votability</h1>
	</div>
	<div class="start">
			<center>
			<br><br>
			<h1>Choose a party</h1>
			<br>
			<table>
			<tr><td>
			<a href="#dp" class="myButton">Democrats</a></td>
			<td><a href="#rp" class="myButton">Republicans</a></td>
			<td><a href="#lp" class="myButton">Liberitarian</a></td></tr>
			</table></center>
			<br><br><br>
	</div>
	<div id="parallax">
	</div>
	<div class="democrats" id="dp">
		<center><table id="headings">
		<tr>
			<td>Democrats</td>
			<td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/US_Democratic_Party_Logo.svg/1200px-US_Democratic_Party_Logo.svg.png" height="100" width="100"></td>
		</tr>
		</table>
		<table>
		<tr>
		<td width="700px">
		Since 1848, the Democratic National Committee has been the home of the Democratic Party, the oldest continuing party in the United States. 

		Today, we are millions of supporters strong, leading with our values, fighting for progress, and helping elect Democrats in every state, city, and ZIP code — from local office to the Oval Office. 

		Our party is strong because it’s built on advancing our Democratic platform and forging positive solutions that include everyone. As Democrats, we believe that every person in this nation should be treated with dignity and respect. We believe that health care is a right for all and that we should be rewarding the hard work of middle class families. We believe that our schools and streets should be free from gun violence and that a woman’s decisions about her own body are hers to make. 

		As the DNC, we are working together to build a bright future for everyone. We are fighting for the soul of our country, for the heart of our democracy, and for America’s place as the land of opportunity for all.
		</td>
		</tr>
		</table><br>
		P: 202-863-8000<br>

		E: democraticparty@democrats.org<br>

		430 S Capitol St SE<br>

		Washington, DC 20003<br>

		<h2>Values</h2>
		<table border="1" border-color="#58ACFA">
		<tr>
		<td width="750px">
		<ol>
		<li>Democrats believe health care is a right, diversity is a strength, the economy should work for everyone, and facts and truth matter.</li>
		<li>Whether it's health care, the economy, education, gun reform, equal pay, voting rights, national security, or the climate crisis, the Democratic Party understands that there's no single issue that matters more than the rest.</li>
		<li>Emphasizes egalitarianism, social equality, protecting the environment, and strengthening the social safety net through liberalism. </li>
		<li>Support voting rights and minority rights, including LGBT rights, multiculturalism, and religious secularism.</li>
		</ol>
		</td>
	</tr>
	</table>
	For more info: visit <a href="https://democrats.org/">https://democrats.org/</a>
	</center>
	</div>
	<div id="p2"></div>
	<div class="republican" id="rp">
		<center><table id="headings">
		<tr>
			<td>Republicans</td>
			<td><img src="https://www.clipartmax.com/png/middle/128-1286350_united-states-democratic-republican-party-democratic-united-states-democratic-republican-party-democratic.png" height="100" width="100"></td>
		</tr>
		</table>
		<table>
		<tr>
		<td width="700px">
		Republican Party, byname Grand Old Party (GOP), in the United States, one of the two major political parties, the other being the Democratic Party. During the 19th century the Republican Party stood against the extension of slavery to the country’s new territories and, ultimately, for slavery’s complete abolition. During the 20th and 21st centuries the party came to be associated with laissez-faire capitalism, low taxes, and conservative social policies. The party acquired the acronym GOP, widely understood as “Grand Old Party,” in the 1870s. The party’s official logo, the elephant, is derived from a cartoon by Thomas Nast and also dates from the 1870s.
		</td>
		</tr>
		</table><br>
		P: (202) 675-6000<br>
		NRSC<BR>
		425 2nd St. NE<br>
		Washington, D.C. 20002<br>

		<h2>Values</h2>
		<table border="1" border-color="#58ACFA">
		<tr>
		<td width="750px">
		<ol>
		<li>Fiscal responsibility and accountability</li>
		<li>Fair taxation policies without prejudice or special interest exceptions</li>
		<li>Job creation that supports an “America First” position.</li>
		<li>Affordable and accessible healthcare based on informed decisions between doctor and patient.</li>
		</ol>
		</td>
	</tr>
	</table>
	For more info: visit <a href="https://www.gop.com/">https://www.gop.com/</a>
	</center>
	</div>
	<div id="p3"></div>
	<div class="liberitarian" id="lp">
		<center><table id="headings">
		<tr>
			<td>Libertarian </td>
			<td><img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Libertarian_Party_Porcupine_%28USA%29.svg" height="100" width="100"></td>
		</tr>
		</table>
		<table>
		<tr>
		<td width="700px">
		The Libertarian Party (LP) is a libertarian political party in the United States that promotes civil liberties, non-interventionism, laissez-faire capitalism and the abolition of the welfare state. The LP was conceived at meetings in the home of David F. Nolan in Westminster, Colorado during 1971 and was officially formed on December 11, 1971, in Colorado Springs, Colorado. The founding of the party was prompted in part due to concerns about the Nixon administration, the Vietnam War, conscription, and the end of the gold standard. The party generally promotes a classical liberal platform, in contrast to the Democrats' modern liberalism and progressivism and the Republicans' conservatism. 
		</td>
		</tr>
		</table><br>
		E: info@lp.org<br>
		P: (800) 353-2887<br>
		Libertarian National<br>
		Committee, Inc. (LNC)<br>

		1444 Duke St.<br>

		Alexandria, VA 22314-3403<br>

		<h2>Values</h2>
		<table border="1" border-color="#58ACFA">
		<tr>
		<td width="750px">
		<ol>
		<li>Libertarians seek to maximize autonomy and political freedom, emphasizing free association, freedom of choice, individualism and voluntary association.</li>
		<li> Libertarianism shares a skepticism of authority and state power, but libertarians diverge on the scope of their opposition to existing economic and political systems.</li>
		<li>"Minimum government, maximum freedom." </li>
		</ol>
		</td>
	</tr>
	</table>
	For more info: visit <a href="https://www.lp.org/">https://www.lp.org/</a>
	</center>
	</div>
</header>
</body>
</html>